table {
	background: rgba(0,0,0,0) !important;
	border-top: 0px solid #000 !important;
	border-bottom: 0px solid #000 !important;
}

th {
	color: #191813 !important;
	font-weight: normal;
}

table thead {
	background: rgba(0,0,0,0) !important;
	text-shadow: 0px 0px #000 !important;
	border-bottom: 2px groove #eeede0 !important;
}

.pf1 table td:not(:last-child), .pf1 table th:not(:last-child) {
	border-right: 2px groove #eeede0 !important;
}

.pf1 table tbody th {
	background: rgba(0,0,0,0) !important;
	text-shadow: 0px 0px #000 !important;
}

.pf1.sheet select {
	width: -webkit-fill-available;
	width: -moz-available;
	width: stretch;
}

.pf1 table tr.ability th.tooltip {
	text-align: left !important;
}

.pf1 table thead .icon {
	background-color: #7a7971 !important;
}

.pf1.chat-card .inline-roll, .pf1.chat-card .fake-inline-roll {
	font-size: 16px;
}

.pf1.chat-card .card-header {
	padding: 3px !important;
}
